<input
	@bind="@_distance" 
	type="number" 
	placeholder="Distance" />
<button 
	@onclick="@(() => ReturnCarEventCallback.InvokeAsync(_distance))" 
	disabled="@RentInProgress" 
	class="btn btn-outline-success">
	Return
</button>

@code {
	private decimal _distance;

	[Parameter]
	public bool RentInProgress { get; set; }

	[Parameter]
	public EventCallback<decimal> ReturnCarEventCallback { get; set; }
}
