.vehicleView {
    border: solid 2px;
    border-radius: 10px;
    width: 100%;
    padding: 1rem;
    max-height: 40vh;
    overflow: auto;
    scrollbar-width: none;
    background-color: #ffd3b6;
}

.vehicleView__table {
    
}

.btn .btn-outline-primary {
    margin-left: 2rem;
}