<select @onchange="@((e) => _selectedSocialSecurityNumber = e.Value.ToString())">
	<option value="">Select SSN</option>
	@foreach (var customer in Customers)
	{
		<option>@customer.SocialSecurityNumber</option>
	}
</select>
<button
	@onclick="@(() => RentCarEvent.InvokeAsync(Convert.ToInt32(_selectedSocialSecurityNumber)))"
	disabled="@(RentInProgress || 
	            string.IsNullOrWhiteSpace(_selectedSocialSecurityNumber) ||
	            IsRented)"
	class="btn btn-dark">Rent
</button>

@code {
	private string _selectedSocialSecurityNumber = string.Empty;
	
	[Parameter] 
	public bool RentInProgress { get; set; }

	[Parameter]
    public bool IsRented { get; set; }
	
	[Parameter]
	public List<Customer> Customers { get; set; } = [];

	[Parameter] 
	public EventCallback<int> RentCarEvent { get; set; }
}
