@using CarRental.Application.Bookings.ResolveBooking
@inject IMediator Mediator;

<h3>Bookings</h3>
<div class="bookings-container">
	<table>
		<tr>
			<th>RegNo</th>
			<th>Customer</th>
			<th>Odometer at Rental</th>
			<th>Odometer at Returned</th>
			<th>Rented on</th>
			<th>Returned on</th>
			<th>Total cost</th>
			<th>Status</th>
		</tr>
		<BookingList 
			Bookings="@_bookings" 
			ResolveBookingEventCallback="ResolveBookingHandler" />
	</table>
</div>

@code {
	private List<Booking> _bookings = [];

	protected override async Task OnInitializedAsync()
	{
		_bookings = await Mediator.Send(new GetBookingsRequest());
	}

	private async Task ResolveBookingHandler(int bookingId)
	{
		await Mediator.Send(new ResolveBookingRequest(bookingId));
	}
}
