.customerView {
    border: solid 0.5px;
    border-radius: 10px;
    width: 100%;
    padding: 0.5rem;
    background-color: #a8e6cf;
}

/*table {
    width: 100%;
}

.status-bar {
    border: solid 0.5px;
    border-radius: 20px;
    width: 75%;
    background-color: lawngreen;
}

tr {
    border-bottom: solid 0.5px;
}*/