<h3>Bookings</h3>
<div class="bookings-container">
	<table>
		<tr>
			<th>RegNo</th>
			<th>Customer</th>
			<th>Km Rented</th>
			<th>Km Returned</th>
			<th>Rented</th>
			<th>Returned</th>
			<th>Cost</th>
			<th>Status</th>
		</tr>
		<tr>
			<td>GHI789</td>
			<td>Doe John (12345)</td>
			<td>1000</td>
			<td></td>
			<td>9/9/2023</td>
			<td></td>
			<td></td>
			<td><button class="btn btn-success">Open</button></td>
		</tr>
	</table>
</div>

@code {

}
