<h3>Customers</h3>
<div class="customers-container">
	<table>
		<tr>
			<th>SSN</th>
			<th>Last Name</th>
			<th>First Name</th>
		</tr>
		<tr>
			<td>12345</td>
			<td>Doe</td>
			<td>John</td>
		</tr>
	</table>
</div>

@code {

}
