<h3>Vechicles</h3>
<div class="vechicle-container">
	<table>
		<tr>
			<th>RegNo</th>
			<th>Brand</th>
			<th>Odometer</th>
			<th>Cost/Km</th>
			<th>Vechicle Type</th>
			<th>$ Day</th>
			<th>Status</th>
		</tr>
		<tr>
			<td>ABC123</td>
			<td>Volvo</td>
			<td>10000</td>
			<td>1</td>
			<td>Combi</td>
			<td>200</td>
			<td><button class="btn btn-success">Available</button></td>
		</tr>
	</table>
</div>



@code {

}
